<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Test - ToDo</title>
</head>
<body>
    <div id="todo-app">
        <h1>{{ title }}</h1>

        <input type="text" v-model="newTodo" :style="maxLenInputStyle" v-focus /><br />

        <ul>
            <!-- v-for=(el, index) in array -->
            <list-item
                v-for="(str_todo, index) in todos"
                :key="`todo_${index}`"
                :text="str_todo"
            ></list-item>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="vapp.js"></script>
</body>
</html>